@media (min-width:1024px) {
    .manubar {
        display: none !important;
    }
}

.heart-icon {
    cursor: pointer;
}


.history-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    padding: 1rem;
    border-radius: 0.75rem;
    margin-bottom: 1.25rem;
}

.service-title {
    font-weight: bold;
}

.service-number {
    color: gray;
}

button:hover {
    background: rgb(1, 1, 31);
    color: white;
}

button {
    transition: all;
    transition-duration: 1s;
    border-radius: 12px;
}

button:active {
    background-color: gray;
}

button:disabled {
    color: black;
}